.contact-container
  padding-top 88px
  height 800px
  display flex
[class*='contact-section-']
  width 512px
  height 722px
.contact-section-1
  background-color #30475a
.contact-section-2
  background-color #f7f7f7
[class*='contact-section-content-']
  width 325px
  margin 0 auto
  height 100%
  padding-top 56px
[class*='contact-section-content-']
  font-size 15px
  text-align center
  
.contact-title
  font-size 36px
.contact-divider
  height 1px
  background-color #afa48f
  width 66px
  margin 0 auto 40px auto

.section-description
  line-height 1.54
.section-email
  margin-top 7px

.form-section-1
  font-size 12px
  color #d9d9d9
  :last-child
    margin-bottom 0
  
input
  width 100%
  height 38px
  margin-bottom 20px
  border-radius 2px
  border 1px solid #e2e2e2
  padding 11px 15px
  background-color transparent
  &::placeholder
    color #d9d9d9

textarea
  width 100%
  height 136px
  border-radius 2px
  border 1px solid #e2e2e2
  padding 9px 15px
  background-color transparent
  &::placeholder
    color #d9d9d9

.contact-section-content-1
  .section-description
    color #fff
  .section-email
    color #fff
    margin-bottom 60px
.contact-section-content-2
  width 363px
  .section-description
    color #283f52
  .section-email
    color #283f52
    font-weight bold
    margin-bottom 35px
    











