.service-hidden
  display none
.services-section
  height 907px
  padding-top 158px
  background-color #fefffe
.services-section-description
  color #283f52
  font-size 17px
  text-align center
  letter-spacing .6px
  margin-bottom 73px
  p
    margin 0
.services-titles
  width 734px
  margin 0 auto
  display flex
[class*='services-title-']
  height 82px
  font-size 10.6px
  display flex
  justify-content center
  align-items center
  flex-direction column
  cursor pointer
  img
    margin-bottom 7px
  h3
    margin 0
    height 15px
    text-align center
    font-weight 600
    letter-spacing .5px

.services-title-
  &1
    background-color #283f52
    color #fff
    width 144px
  &2
    background-color #76909b
    color #fff
    width 200px
    h3
      width 119px
      height 29px
  &3
    background-color #afa48f
    color #fff
    width 200px
  &4
    background-color #e9e9e9
    color #324a5c
    width 190px
    h3
      font-weight bold
      letter-spacing 0
      font-weight 900
[class*='services-container-']
  height 483px
  padding-top 40px
  text-align center
.services-container-
  &1
    background-color #283f52
    .services-content-title
      color #fff
      border-bottom 1px solid #afa48d
    .services-content-description
      p
        color #fff
    .services-feature-
      &1
        .services-feature-image
          background-image url('../img/services/infrastructure/feature-1.png')
      &2
        .services-feature-image
          background-image url('../img/services/infrastructure/feature-2.jpg')
      &3
        .services-feature-image
          background-image url('../img/services/infrastructure/feature-3.png')
      &4
        .services-feature-image
          background-image url('../img/services/infrastructure/feature-4.jpg')
      &5
        .services-feature-image
          background-image url('../img/services/infrastructure/feature-5.jpg')
    .services-feature-description
      background-color #76909b
      p
        color #fff
        font-size 12px
  &2
    background-color #76909b
    .services-content-title
      color #fff
      border-bottom 1px solid #283f52
    .services-content-description
      width 547px
      height 48px
      p
        color #fff
    .services-feature-
      &1
        .services-feature-image
          background-image url('../img/services/policies/feature-1.jpg')
        .services-feature-description
          p
            font-size 12px
      &2
        .services-feature-image
          background-image url('../img/services/policies/feature-2.jpg')
        .services-feature-description
          p
            font-size 11px
            width 95%
      &3
        .services-feature-image
          background-image url('../img/services/policies/feature-3.jpg')
        .services-feature-description
          p
            font-size 11px
      &4
        .services-feature-image
          background-image url('../img/services/policies/feature-4.jpg')
        .services-feature-description
          p
            font-size 12px
      &5
        .services-feature-image
          background-image url('../img/services/policies/feature-5.jpg')
        .services-feature-description
          p
            font-size 11px
    .services-feature-description
      background-color #283f52
      p
        color #fff
  &3
    background-color #afa48f
    .services-content-title
      color #fff
      border-bottom 1px solid #283f52
    .services-content-description
      p
        color #fff
    .services-feature-
      &1
        .services-feature-image
          background-image url('../img/services/economy/feature-1.jpg')
        .services-feature-description
          p
            font-size 12px
      &2
        .services-feature-image
          background-image url('../img/services/economy/feature-2.jpg')
        .services-feature-description
          p
            font-size 11px
      &3
        .services-feature-image
          background-image url('../img/services/economy/feature-3.jpg')
        .services-feature-description
          p
            font-size 12px
      &4
        .services-feature-image
          background-image url('../img/services/economy/feature-4.jpg')
        .services-feature-description
          p
            font-size 12px
      &5
        .services-feature-image
          background-image url('../img/services/economy/feature-5.jpg')
        .services-feature-description
          p
            font-size 11px
    .services-feature-description
      background-color #283f52
      p
        color #fff
  &4
    background-color #e9e9e9
    .services-content-title
      color #283f52
      border-bottom 1px solid #afa48d
    .services-content-description
      width 499px
      height 48px
      p
        color #283f52
    .services-feature-
      &1
        .services-feature-image
          background-image url('../img/services/strategy/feature-1.jpg')
        .services-feature-description
          p
            font-size 11px
      &2
        .services-feature-image
          background-image url('../img/services/strategy/feature-2.jpg')
        .services-feature-description
          p
            font-size 12px
            width 93%
      &3
        .services-feature-image
          background-image url('../img/services/strategy/feature-3.jpg')
        .services-feature-description
          p
            font-size 12px
      &4
        .services-feature-image
          background-image url('../img/services/strategy/feature-4.jpg')
        .services-feature-description
          p
            font-size 12px
      &5
        .services-feature-image
          background-image url('../img/services/strategy/feature-5.jpg')
        .services-feature-description
          p
            font-size 11px
    .services-feature-description
      background-color #283f52
      p
        color #fff
        font-size 12px
.services-content-title
  padding 0 7px
  display inline-block
  margin-bottom 20px
  h4
    font-size 23px
    font-weight 500
    letter-spacing .8px
    margin 12px 0
.services-content-description
  width 90.23%
  max-width: 924px;
  margin 0 auto 43px auto
  p
    color #fff
    font-size 14px
    line-height 16px
    font-weight 100
    margin 0 auto
    letter-spacing .2px
.services-features
  width 90.23%
  max-width 924px
  margin 0 auto
  display flex
  justify-content center
  flex-wrap wrap
  :last-child
    margin-right 0
[class*='services-feature-']
  width 178px
  height 222px
  border-radius 1px
  margin-right 8px
  
.services-feature-image
  height 140px
  background-size cover

.services-feature-description
  height 82px
  display flex
  justify-content center
  align-items center
  p
    margin 0
    width 90%
    font-weight 100
    letter-spacing .3px
    line-height 15px
    span
      font-weight bold

.services-final-divider
  height 1px
  background-color #e1e1e1
  width 84.2%
  margin 0 auto

@media screen and (max-width 1021px)
  .services-section
    height 1124px
  [class*='services-container-']
    height 700px
  .services-feature-5
    margin-top 16px
@media screen and (max-width 824px)
  .services-feature-4
    margin-top 16px
@media screen and (max-width 767px)
  .services-titles
    width 320px
    h3
      display none
    img
      width 33px
      height 33px
  [class*='services-title-']
    width 80px
@media screen and (max-width 618px)
  .services-feature-3
    margin-top 16px
@media screen and (max-width 609px)
  .services-section
    height 1346px
    padding-top 100px
  [class*='services-container-']
    height 922px
  .services-content-description
    width 80% !important
@media screen and (max-width 412px)
  .services-section
    height 1578px
  [class*='services-container-']
    height 1154px
  .services-feature-2
    margin-top 16px
  .services-section
    height 1983px
  [class*='services-container-']
    height 1426px
  .services-container-2
    .services-content-title
      width 235px
  






