.us-section
  background-color #283f52
  padding-top 88px
  height 741px
  display flex
  justify-content center
.us-content
  display flex
  justify-content center
.us-section-1
  width 512px
  background-color #283f52
  padding 82px 0 95px 0
.us-title
  max-width 366px
  margin 0 auto 38px auto
  width 366px
  height 57px
  text-align left
.us-section-divider
  height 1px
  width 66.5px
  background-color #9f9585
.us-description
  width 366px
  margin 0 auto 43px auto
  p
    color white
    font-size 14px
    letter-spacing .27px
    line-height 1.54
.us-button
  width 366px
  margin 0 auto
.us-section-2
  width 512px
  background-color lightgreen
  