{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="section-1">
    <div class="section-1-content">
      <p class="rgv-font-lin-libertine">
        <span class="linbertine-gold">Consultores especializados</span> en las principales industrias del sector público y privado en México
      </p>
    </div>
    <div class="vertical-slide">
      <a data-scroll href="#section-2">
        <div class="down-arrow">
          <img src="img/icons/down-arrow.svg" alt="Flecha hacia abajo">
        </div>
      </a>
      <div class="down-arrow-stroke"></div>
    </div>
  </div>
  <div class="section-2" id="section-2">
    <div class="section-2-content">
      <div class="building-parallax-container">
        <div class="building-parallax"></div>
      </div>
      <div class="general-info">
        <p class="rgv-font-montserrat-extralight">
          Somos un equipo de consultoría en negocios y de gestión, con experiencia en diversas áreas del sector público y privado. En RGV, dotamos a nuestros clientes de soluciones estratégicas mediante el uso de ciencias exactas e integrando un enfoque multidisciplinario.
        </p>
        <a href="us.html">
          <button class="rgv-button button-blue rgv-font-montserrat-regular">Conoce más</button>
        </a>
      </div>
    </div>
  </div>
  <div class="section-3">
    <div class="section-3-content">
      <div class="section-title white-title">
        <h2 class="rgv-font-lin-libertine">Nuestros <span class="linbertine-gold">servicios</span></h2>
      </div>
      <div class="section-title-divider divider-white"></div>
      <div class="section-3-features">
        <div class="rgv-feature-1 rgv-feature-blue">
          <div class="feature-content">
            <div class="feature-logo">
              <img src="img/icons/road-tunnel.svg" alt="">
            </div>
            <div class="feature-title rgv-font-montserrat-light">
              <h3>Infraestructura</h3>
            </div>
            <div class="feature-divider"></div>
            <div class="feature-description">
              <p class="rgv-font-montserrat-extralight">
                Soluciones a partir de evaluaciones de proyectos de inversión en infraestructura tanto desde la perspectiva social como la privada para asegurar el mayor valor agregado de esas inversiones.
              </p>
            </div>
          </div>
        </div>
        <div class="rgv-feature-2 rgv-feature-white">
          <div class="feature-content">
            <div class="feature-logo">
              <img src="img/icons/economy-board.svg" alt="">
            </div>
            <div class="feature-title rgv-font-montserrat-light">
              <h3>Economía y Finanzas</h3>
            </div>
            <div class="feature-divider"></div>
            <div class="feature-description">
              <p class="rgv-font-montserrat-extralight">
                Soluciones a raíz de estudios económicos-financieros y propuestas de financiamiento elaborados con el objetivo de lograr la eficiencia en la utilización de recursos escasos  y en el uso de capital. 
              </p>
            </div>
          </div>
        </div>
        <div class="rgv-feature-3 rgv-feature-white">
          <div class="feature-content">
            <div class="feature-logo">
              <img src="img/icons/structure.svg" alt="">
            </div>
            <div class="feature-title rgv-font-montserrat-light">
              <h3>Estrategia de Negocios</h3>
            </div>
            <div class="feature-divider"></div>
            <div class="feature-description">
              <p class="rgv-font-montserrat-extralight">
                Soluciones basadas en los resultados de la colaboración con empresas privadas con el objetivo de maximizar sus beneficios en el corto, mediano y largo plazo.
              </p>
            </div>
          </div>
        </div>
        <div class="rgv-feature-4 rgv-feature-blue">
          <div class="feature-content">
            <div class="feature-logo">
              <img src="img/icons/todo-list.svg" alt="">
            </div>
            <div class="feature-title rgv-font-montserrat-light">
              <h3>Políticas públicas y gobierno</h3>
            </div>
            <div class="feature-divider"></div>
            <div class="feature-description">
              <p class="rgv-font-montserrat-extralight">
                Soluciones a través de esfuerzos encaminados a maximizar el impacto de políticas públicas y  a contribuir a la eficiencia en la administración de instituciones de gobierno. Se incluyen
              </p>
            </div>
          </div>
        </div>
      </div>
      <a href="services.html">
        <button class="rgv-button button-white rgv-font-montserrat-regular">Nuestros servicios</button>
      </a>
    </div>
    </div>
  <div class="section-4">
    <div class="section-4-content">
      <div class="section-title section-blue">
        <h2 class="rgv-font-lin-libertine">Nuestros <span class="linbertine-gold">sectores</span></h2>
      </div>
      <div class="section-title-divider divider-spacegray"></div>
      <div class="section-4-description">
        <p class="rgv-font-montserrat-light">
          Nuestras soluciones se aplican a una amplia gama de sectores como:
        </p>
      </div>
      <div class="sectors">
        <div class="sector-1">
          <div class="sector-overlay">
            <p class="rgv-font-lin-libertine">
              Carretero
            </p>
          </div>
        </div>
        <div class="sector-2">
          <div class="sector-overlay">
            <p class="rgv-font-lin-libertine">
              Energético
            </p>
          </div>
        </div>
        <div class="sector-3">
          <div class="sector-overlay">
            <p class="rgv-font-lin-libertine">
              Minorista y de servicios
            </p>
          </div>
        </div>
        <div class="sector-4">
          <div class="sector-overlay">
            <p class="rgv-font-lin-libertine">
              Seguros y Fianzas
            </p>
          </div>
        </div>
        <div class="sector-5">
          <div class="sector-overlay">
            <p class="rgv-font-lin-libertine">
              Agropecuario
            </p>
          </div>
        </div>
        <div class="sector-6">
          <div class="sector-overlay">
            <p class="rgv-font-lin-libertine">
              Comercio y Logística
            </p>
          </div>
        </div>
        <div class="sector-7">
          <div class="sector-overlay">
            <p class="rgv-font-lin-libertine">
              Salud
            </p>
          </div>
        </div>
        <div class="sector-8">
          <div class="sector-overlay">
            <p class="rgv-font-lin-libertine">
              Saneamiento
            </p>
          </div>
        </div>
        <div class="sector-9">
          <div class="sector-overlay">
            <p class="rgv-font-lin-libertine">
              Turismo
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-5">
    <div class="section-5-content">
      <p class="rgv-font-lin-libertine">
        El valor de nuestro servicio radica en el <span class="linbertine-blue">alto rigor metodológico y las bases cuantitativas sólidas</span> que respaldan los resultados y soluciones propuestas
      </p>
    </div>
  </div>
{% endblock %}