<footer class="footer rgv-font-montserrat-extralight">
  <div class="footer-main">
    <div class="footer-row logo">
      <a href="">
        <img src="img/logos/rgv-blue.svg" alt="Logotipo de RGV">
      </a>
    </div>
    <div class="footer-row navigation">
      <nav class="footer-nav">
        <ul>
          <li class="item-1 "><a href="">Inicio</a></li>
          <li class="item-2"><a href="">Nosotros</a></li>
          <li class="item-3"><a href="">Servicios</a></li>
          <li class="item-4"><a href="">Contacto</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-row social">
      <div class="social-container">
        <div class="rgv-social">
        <a href="">
          <img src="img/icons/facebook.svg" alt="">
          <p>Facebook</p>
        </a>
      </div>
      <div class="rgv-social">
        <a href="">
          <img src="img/icons/twitter.svg" alt="">
          <p>Twitter</p>
        </a>
      </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p> © 2017, Copyright RGV</p>
  </div>
</footer>