<footer class="footer rgv-font-montserrat-extralight">
  <div class="footer-main">
    <div class="footer-row logo">
      <a href="">
        <img src="img/logos/rgv-blue.svg" alt="Logotipo de RGV">
      </a>
    </div>
    <div class="footer-row navigation">
      <nav class="footer-nav">
        <ul>
          <li class="item-1"><a class="rgv-font-montserrat-extralight" href="index.html">Inicio</a></li>
          <li class="item-2"><a class="rgv-font-montserrat-extralight" href="us.html">Nosotros</a></li>
          <li class="item-3"><a class="rgv-font-montserrat-extralight" href="services.html">Servicios</a></li>
          <li class="item-4"><a class="rgv-font-montserrat-extralight" href="contact.html">Contacto</a></li>
        </ul>
      </nav>
    </div>
    
  </div>
  <div class="footer-copyright">
    <p> © <span id="license-year"></span>, Copyright RGV</p>
  </div>
</footer>