<header class="header">
  <div class="header-logo">
    <a href="">
      <img src="img/logos/rgv-white.svg" alt="Logotipo de RGV">
    </a>
  </div>
  <nav class="header-nav">
    <ul>
      <li class="item-1 {% if section == 'index' %} rgv-font-montserrat-medium active {% else %} rgv-font-montserrat-hover {% endif %}">
        <a href="">Inicio</a>
      </li>
      <li class="item-2 rgv-font-montserrat-hover">
        <a href="">Nosotros</a>
      </li>
      <li class="item-3 rgv-font-montserrat-hover">
        <a href="">Servicios</a>
      </li>
      <li class="item-4 rgv-font-montserrat-hover">
        <a href="">Contacto</a>
      </li>
    </ul>
  </nav>
</header>