.header
  height 88px
  background-color #1F3648
  padding 25px 42px
  display flex
  justify-content center
  align-items center
  position fixed
  top 0
  width 100%
  z-index 9
  .header-logo
    position absolute
    left 42px
    top 25px
    img
    width 74px
    height 37px
  .header-nav
    display inline-block
    ul
      display flex
      margin 0
      padding 0
      .item-1
        width 38px
      .item-2
        width 60px
      .item-3
        width 60px
      .item-4
        width 68px
      li
        display inline-block
        text-align center
        list-style-type: none;
        color #fff
        font-size 13px
        margin-right 40px
        a
          color #fff
          cursor pointer
          transition all 200ms
        a:hover
          color #7d97a6
      .active
        a
          color #7d97a6