
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../fonts/Montserrat-ExtraLight.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lin-Libertine';
  src: url("../fonts/LinLibertine.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Butler-Medium';
  src: url("../fonts/Butler-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
.rgv-font-butler-medium {
  font-family: 'Butler-Medium';
}
.rgv-font-lin-libertine {
  font-family: 'Lin-Libertine';
}
.rgv-font-montserrat-extralight {
  font-family: 'Montserrat-ExtraLight';
}
.rgv-font-montserrat-light {
  font-family: 'Montserrat-Light';
}
.rgv-font-montserrat-medium {
  font-family: 'Montserrat-Medium';
}
.rgv-font-montserrat-regular {
  font-family: 'Montserrat-Regular';
}
.rgv-font-montserrat-hover {
  font-family: 'Montserrat-ExtraLight';
}
.rgv-font-montserrat-hover:hover {
  font-family: 'Montserrat-Medium';
}